body {
  background-color: #FFFFFA;
}

#header {
  width: 1325px;
}

h1 {
  font-family: 'Snippet', sans-serif;
  font-size: 3em;
  text-align: center;
  background-color: #F34106;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  padding-bottom: 10px;
  border-bottom: solid #8B0101;
  padding-bottom: 10px;
  border-bottom: solid #8B0101;
  width: 500px;
  margin: 0 auto;
}

.section-wrapper {
  margin-left: 200px;
  margin-top: 100px;
  width: 1130px;
  position: absolute;
}

.section-li, ul.skills-list {
  list-style-type: none;
  padding: 0 20px 20px 0;
}

.leftContent {
  width: 450px;
  float: left;  
  margin-right: 100px; 
  border-right: solid #DA0402;
} 

.rightContent {
  width: 450px;
  float: right;
}

h2 {
  font-size: 1.5em;
  color: #F34106;
}

.position, .location {
  color: #F34106;
}

h2, span.date, h3.company, .position, .location, ul.skills-list, ul.activities {
  font-family: 'Snippet', sans-serif;
}

span.date {
  color: #666;
}

.experience {
  position: relative;
  left: 40px;
}

ul.skills-list {
  font-weight: 900;
  font-size: 1.125;
}

ul.activities {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  position: relative;
  right: 35px;
}

a:hover {
  color: #F34106;
}

.myImage {
  position: relative; 
}

.dot {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 7px solid #F34106;
  display: inline-block;
  overflow: hidden;
  height: 110px;
  width: 110px;
  position: absolute;
  top: 420px;
  right: 615px;
  margin: 0 auto;
}

img {
  width: 110px;
  height: 120px;
}
/*
@media (max-width: 880px) {
  .myImage .dot {
    position: relative;
    top: 815px;
    right: 41%;
  }
}

@media (max-width: 900px) {
  .leftContent { 
    border-style: none;
    position: relative;
    left: 166px;
  }

  .rightContent {
    position: relative;
    left: 210px;
  } 
}  

@media (max-width: 1100px) {
  .myImage .dot {
    position: relative;
    top: 100px;
    right: 47%;
  }
}*/
